<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<div>
			<h1>
			URL Shortener Microservice
			</h1>
			<p>
			Pass a url into the end of the url bar to get Google's shortened version of it.
			</p>
		</div>
	</body>
</html>
